<h1>Editing Picture</h1>

<%= render 'form', picture: @picture %>

<div class="row text-center">
  <%= link_to 'Show', @picture, class: 'btn btn-success' %> |
  <%= link_to 'Back', pictures_path, class: 'btn btn-success' %>
</div>
