<article class="row">
  <h1 class="text-center">New Picture</h1>

  <%= render 'form', picture: @picture %>

  <p class="text-center"><%= link_to 'Back', pictures_path, class: "btn btn-success btn-lg" %></p>
</article>
